.hashTag
{
  color: #009fbb;
  font-weight: 500;
  font-style: italic;
  padding: 2px;
  border-radius: 4px;
  background-color: #4dc2d610;
}

.hashTag:hover
{
  background-color: #4dc2d630;
}

.suggestions
{
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
  background-color: #fcfcfc;
}
